{% extends 'base.html' %}

{% load static %}

{% block title %}Quizzes{% endblock %}

{% block main_block %}

    <h1 class="display-4 text-center my-5">Quizzes</h1>

    <div class="container">

        <div class="d-flex flex-wrap">

            <a href="{% url 'all_quizzes' %}" class="btn btn-light me-2 mb-2">All</a>

            {% for category in categories %}
                <a href="{% url 'search' category.name %}" class="btn btn-light me-2 mb-2">{{ category.name }}</a>
            {% endfor %}
        
        </div>
    
    </div>

    <form class="container d-flex my-4" role="search" action="{% url 'search' ' ' %}" method="get">
        <input name="search_pattern" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" value="{{ request.GET.search_pattern }}">
        <a href="#" class="btn btn-outline-primary" type="submit">Search</a>
    </form>

    <div class="container">
    
        {% if quizzes|length > 0 %}
            
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                {% for quiz in quizzes %}
                    
                    <div class="col">
                        <div class="card shadow-sm">
                        
                            {% if quiz.thumbnail %}
                            <img class="bd-placeholder-img card-img-top" src="{{ quiz.thumbnail }}"
                                 width="100%" height="225"
                                 alt="">
                            {% else %}
                            <img class="bd-placeholder-img card-img-top" src="{% static 'images/default_quiz.jpg' %}"
                                 width="100%" height="225"
                                 alt="">
                            {% endif %}
                        
                            <div class="card-body">
                                <h4 class="mb-3">{{ quiz.title }}</h4>
                                <p class="card-text">Total Questions: {{ quiz.question_set.all|length }} </p>
                                <p class="card-text">Category: {{ quiz.category.name }}</p>
                                <p class="card-text">{{ quiz.description }}</p>
                                
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn">
                                        <a href="{% url 'quiz' quiz.id %}" type="button" class="btn btn-sm btn-outline-success">Start
                                            Quiz</a>
                                    </div>
                                    <small class="text-body-secondary">{{ quiz.created_at|timesince }}</small>
                                </div>
                                
                            </div>
                        
                        </div>
                    
                    </div>
                    
                {% endfor %}

            </div>
            
        {% else %}
            
            <div class="col text-center">
                <p class="text-danger text-center fs-5">Oops! It seems there are no quizzes matching your
                    search. Please
                    verify your criteria and try a different search query.</p>
            </div>
            
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            
        {% endif %}
    
    </div>

{% endblock %}