{% extends 'base.html' %}

{% block title %}{{ quiz.title }}{% endblock %}

{% block main_block %}
    
    <h1 class="display-4 text-center mt-5 mb-3" >{{ quiz.title }}</h1>

    <p class="fs-5 text-center">{{ quiz.description }}</p>

    <div class="container mt-2">

    <div class="row">

        <div class="col">
        </div>

        <div class="col-sm-auto col-md-8">
            <div class="text-center mb-3">
                <span class="fs-7" id="displaytimer"><b>Timer: 0 seconds</b></span>
            </div>

            <div class="questions">
                <form method='post' action=''>
                
                    {% csrf_token %}
                
                    {% for question in questions %}
                        
                        <div class="card mb-3">
                        
                            <div class="card-header fw-bold">
                                Question {{ forloop.counter }}
                            </div>

                            <div class="card-body">
                                <p class="card-text">{{ question.question_text }}</p>

                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="question_{{ question.id }}"
                                           id="option_{{ question.id }}_1" value="{{ question.option_1 }}">
                                    <label class="form-check-label"
                                           for="option_{{ question.id }}_1">{{ question.option_1 }}</label>
                                </div>
                                
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="question_{{ question.id }}"
                                           id="option_{{ question.id }}_2" value="{{ question.option_2 }}">
                                    <label class="form-check-label"
                                           for="option_{{ question.id }}_2">{{ question.option_2 }}</label>
                                </div>
                                
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="question_{{ question.id }}"
                                           id="option_{{ question.id }}_3" value="{{ question.option_3 }}">
                                    <label class="form-check-label"
                                           for="option_{{ question.id }}_3">{{ question.option_3 }}</label>
                                </div>
                                
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="question_{{ question.id }}"
                                           id="option_{{ question.id }}_4" value="{{ question.option_4 }}">
                                    <label class="form-check-label"
                                           for="option_{{ question.id }}_4">{{ question.option_4 }}</label>
                                </div>

                            </div>
                        
                        </div>
                        
                    {% endfor %}
                
                    <div class="text-center">
                        <input id='timer' type='hidden' name="timer" value="">
                        <button type="submit" class="text-center btn btn-primary">Submit</button>
                    </div>
                
                </form>
            
            </div>

        </div>

        <div class="col">
        </div>

    </div>

    <script>

        const timer = document.getElementById('displaytimer')
        console.log(timer.textContent)
        const inputtag = document.getElementById('timer')

        t = 0
        setInterval(() => {
            t += 1
            timer.innerHTML = "<b>Timer: " + t + " seconds</b>"
            inputtag.value = t
        }, 1000)
    </script>

{% endblock %}