{% extends 'base.html' %}

{% block title %}Create Quiz{% endblock %}

{% block main_block %}
    
    <h1 class="display-4 text-center mt-5 mb-4">Create Quiz</h1>

    <div class="container">
    
        <div class="row">
        
            <div class="col">
            </div>
        
            <div class="col-sm-auto col-md">
            
                <form action="{% url 'create_quiz' %}" method="post" enctype="multipart/form-data">
                
                    {% csrf_token %}
                
                    <div class="mb-3 mt-4">
                        <label for="exampleInputTitle" class="form-label">Title</label>
                        <input type="text" name="title" class="form-control" id="exampleInputTitle" required>
                    </div>
                
                    <div class="mb-3">
                        <label for="exampleInputDescription" class="form-label">Description</label>
                        <textarea name="description" class="form-control" id="exampleInputDescription" rows="3"
                                  required></textarea>
                    </div>
                
                    <div class="mb-3">
                        <label for="exampleInputCategory" class="form-label">Category</label>
                        <select name="category" class="form-select" id="exampleInputCategory" required>
                            <option value="" selected disabled>Choose...</option>
                            {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                
                    <div class="mb-3">
                        <label for="exampleInputThumbnail" class="form-label">Thumbnail URL</label>
                        <input type="url" name="thumbnail" class="form-control" id="exampleInputThumbnail">
                    </div>
                
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary mb-4 text-center">Create Quiz</button>
                        <p class="mb-4">Want to go back? <a href="{% url 'quizzes_list' %}">Back to Quizzes</a></p>
                    </div>
                
                </form>

            </div>
        
            <div class="col">
            </div>
        
        </div>
    
    </div>
    
{% endblock %}